
<h2>Related Items</h2>
<ul>
<li><a href="https://bogdanvlviv.github.io/posts/ruby/patterns/design-patterns-in-ruby.html#strategy">Design Patterns in Ruby</a></li>
<li><a href="http://www.chrisrolle.com/en/blog/5-rails-console-tricks">5 Rails console tricks</a></li>
<li><a href="https://github.com/lautis/piperator">Piperator: Pipeline Proccessing for Ruby</a></li>
<li><a href="http://www.g9labs.com/2016/06/23/rails-pub-slash-sub-with-wisper-and-sidekiq/">Evented Rails: Decoupling domains in Rails with Wisper pub/sub events</a></li>
<li><a href="https://blog.carbonfive.com/2016/11/01/bring-clarity-to-your-monolith-with-bounded-contexts/">Bring Clarity to your Monolith - Bounded Contexts</a></li>
<li><a href="https://www.sitepoint.com/10-ruby-on-rails-best-practices-3/">"The Rails Way (MVC)"</a></li>
<li><a href="https://www.sitepoint.com/10-ruby-on-rails-best-practices-3/">Rails MVC Best Practices</a></li>
<li><a href="https://medium.com/magnetis-backstage/clean-architecture-on-rails-e5e82e8cd326">Clean Architecture</a></li>
<li><a href="https://medium.com/@vsavkin/hexagonal-architecture-for-rails-developers-8b1fee64a613">Hexagonal Architecture</a></li>
<li><a href="https://www.sitepoint.com/ddd-for-rails-developers-part-3-aggregates/">DDD for Rails Developers</a></li>
<li><a href="https://github.com/CodeRocketCo/enhanced-rails-architecture#enhanced-ruby-on-rails-architecture">Enhanced Ruby on Rails Architecture</a></li>
</ul>

<h2>Videos</h2>
<ul>
<li><a href="http://confreaks.com/videos/759-rubymidwest2011-keynote-architecture-the-lost-years">Architecture of The Lost Years talk by Uncle Bob</a></li>
<li><a href="http://www.slideshare.net/dwhelan/domain-driven-design-and-hexagonal-srchitecture-with-rails">Hexagonal Rails</a></li>
</ul>

<h2>Related Books</h2>
<ul>
<li><a href="https://www.amazon.com/Domain-driven-Design-Tackling-Complexity-Software/dp/0321125215/ref=pd_bxgy_b_img_y">Domain Driven Design, by Eric Evans</a></li>
<li><a href="https://blog.arkency.com/domain-driven-rails/">Domain Driven Rails</a></li>
<li><a href="https://www.amazon.com/gp/product/0321834577/">Implementing Domain-Driven Design</a></li>
<li><a href="https://blog.redelastic.com/corporate-arts-crafts-modelling-reactive-systems-with-event-storming-73c6236f5dd7">Event Storming</a></li>
<li><a href="https://www.amazon.com/Design-Patterns-Ruby-Addison-Wesley-Professional/dp/0321490452">Design Patterns in Ruby</a></li>
</ul>